.item-list {
    border: 1px solid $border-color;
    border-radius: 4px;
}

.icon-delete,
.icon-edit,
.icon-move {
    padding: 6px;
    border-radius: 4px;

    &:hover {
        background-color: $icon-bg-hover;
    }
}

.bucket-text,
.bucket-link-text {
    word-break: break-word;
}